* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 20px;
  max-width: 100%;
}

.logo h1 {
  color: brown;
  margin-left: 20px;
  font-size: 35px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-bar a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 22px;
  color: black;
}

.left-bar a:hover{
  font-weight: bold;
  transition: 0.4s;
  color: #515151;
}

.right-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-bar h4 {
  font-size: 22px;
}

.right-bar input {
  font-size: 18px;
  border-radius: 7px;
  padding: 3px;
  border: 1px solid #717171;
}


/* Responsive navbar for smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack the navbar items vertically */
    align-items: center; /* Align to the left */
  }

  .left-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    padding: 10px;
  }
  

  .right-bar {
    margin-top: 10px; /* Add some spacing */
    width: 100%; /* Stretch input to full width */
    justify-content: center;
  }

  .right-bar input {
    width: 100%; /* Adjust search box width */
    margin-left: 20px;
  }

  .logo h1 {
    font-size: 28px; /* Adjust font size */
  }

  .left-bar a {
    font-size: 18px; /* Adjust font size for links */
  }
}

hr {
  margin-left: 20px;
}

.banner {
  background-color: #f0e4e4;
  margin-left: 20px;
  padding: 25px;
}

.banner h3 {
  padding-top: 30px;
  margin-left: 40px;
  font-size: 30px;
  color: rgb(116, 68, 68);
}

.list {
  display: flex;
  justify-content: center;
  gap: 35px;
  font-size: 25px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1021px){
  .shop{
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item {
    width: 48%; 
    margin-bottom: 20px; 
  }
}

@media (max-width: 659px){
  .shop{
    flex-direction: column;
  }
  .item {
    width: 100%; 
   
  }
}


.list a {
  text-decoration: none;
  color: rgb(153, 86, 86);
  font-weight: 500;
}

.list a:hover{
  color: rgb(123, 36, 36);
  transition: 0.5s;
  font-size: 30px;
}


.new {
  font-size: 30px;
  margin-left: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.item img {
  width: 230px;
  height: 300px;
}

.item h5 {
  font-size: 24px;
}

.shop {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.479);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ////////////////////////////////////////////////// */

/* .books {
  background-color: wheat;
} */

.book {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  /* display: flex;
  justify-content: center; */
  background-color: white;
  border: 2px solid brown;
}

.book img {
  width: 100%;
  padding: 100px;
}
.previews {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.previews h2{
  
  font-size: 35px;
}

.previews h4{
  font-size: 20px;
}

.previews p{
  font-size: 18px;
  width: 600px;
}

.bestSellers{
  width: 100%;
}


